#.gitignore Adoption
Solidity_Adoption/node_modules/
Solidity_Adoption/artifacts/
Solidity_Adoption/typechain/
Solidity_Adoption/cache/
#.gitignore Auction
Solidity_Auction/node_modules/
Solidity_Auction/artifacts/
Solidity_Auction/typechain/
Solidity_Auction/cache/
#.gitignore Bank
Solidity_Bank/node_modules/
Solidity_Bank/artifacts/
Solidity_Bank/typechain/
Solidity_Bank/cache/
#.gitignore Event Ticket
Solidity_Event_Ticket/node_modules/
Solidity_Event_Ticket/artifacts/
Solidity_Event_Ticket/typechain/
Solidity_Event_Ticket/cache/
#.gitignore Lottery
Solidity_Lottery/node_modules/
Solidity_Lottery/artifacts/
Solidity_Lottery/typechain/
Solidity_Lottery/cache/
#.gitignore Vote
Solidity_Vote/node_modules/
Solidity_Vote/artifacts/
Solidity_Vote/typechain/
Solidity_Vote/cache/
#.gitignore Vote
Solidity_Empty/node_modules/
Solidity_Empty/artifacts/
Solidity_Empty/typechain/
Solidity_Empty/cache/
#.gitignore TPWallet
Solidity_TPWallet/node_modules/
Solidity_TPWallet/artifacts/
Solidity_TPWallet/typechain-types/
Solidity_TPWallet/cache/
#.gitignore Wallet
Solidity_Wallet/node_modules/
Solidity_Wallet/artifacts/
Solidity_Wallet/typechain-types/
Solidity_Wallet/cache/