\Solidity_Adoption\artifacts\
\Solidity_Adoption\cache\
\Solidity_Adoption\node_modules\
\Solidity_Adoption\typechain\

\Solidity\Solidity_Auction\artifacts\*
\Solidity\Solidity_Auction\cache\*
\Solidity\Solidity_Auction\node_modules\*
\Solidity\Solidity_Auction\typechain\*

\Solidity\Solidity_Bank\artifacts\*
\Solidity\Solidity_Bank\cache\*
\Solidity\Solidity_Bank\node_modules\*
\Solidity\Solidity_Bank\typechain\*

\Solidity\Solidity_Event_Ticket\artifacts\*
\Solidity\Solidity_Event_Ticket\cache\*
\Solidity\Solidity_Event_Ticket\node_modules\*
\Solidity\Solidity_Event_Ticket\typechain\*

\Solidity\Solidity_Lottery\artifacts\*
\Solidity\Solidity_Lottery\cache\*
\Solidity\Solidity_Lottery\node_modules\*
\Solidity\Solidity_Lottery\typechain\*

\Solidity\Solidity_Vote\artifacts\*
\Solidity\Solidity_Vote\cache\*
\Solidity\Solidity_Vote\node_modules\*
\Solidity\Solidity_Vote\typechain\*
